{% extends "layout.html" %}
{% load static %}
{% block body %}

<head>
  <head><link href="{% static 'roomconfig.css' %}" rel="stylesheet"></head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
</head>

<body>
  <div>
    <div class="container">
      <h2>Create Room</h2>
    </div>
    <style>
      
      </style>
  
    {% if messages %}
    <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    {% endif %}

    <form id="post-form" method="POST" action="checkview">
      {% csrf_token %}
      <label>Room Name</label>
      <input type="text" placeholder="Enter Room name" name="room_name" id="room_name" width="100px" />
      <br>

      <select data-placeholder="Filter" multiple class="chosen-select" name="filter">
        <option value=""></option>
        <optgroup label="Type of Food">
          <option value="Buffet">Buffet</option>
          <option value="Fastfood">Fastfood</option>
          <option value="Sweet & Drink">Sweet & Drink</option>
        </optgroup>
        <optgroup label="International Food">
          <option value="Thai Food">Thai Food</option>
          <option value="Korean Food">Korean Food</option>
          <option value="Japanese Food">Japanese Food</option>
          <option value="Chinese Food">Chinese Food</option>
          <option value="Italian Food">Italian Food</option>
          <option value="International Food">International Food</option>
        </optgroup>
      </select>

      <br>
      <label for="description">Description</label>
      <textarea rows="5" name="description" placeholder="Enter Description"></textarea>
      <br>
      <label for="max_seat">Max seat</label>
      <input type="number" placeholder="Enter max seat" name="max_seat">

      <br>
      <label for="gender_request">Choose a gender:</label>

      <select name="gender_request" id="gender_request" required>
        <option value="N">not define</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="L">LGBTQ+</option>
      </select>

      <br>
      <label for="dead_time">Dead time</label>
      <input type="datetime-local" placeholder="Enter dead time" name="dead_time">

      <label for="meal_time">Meal time</label>
      <input type="datetime-local" placeholder="Enter meal time" name="meal_time">
      <br><br>
      <div class="container">
        <input type="submit" value="Enter Room">
      </div>
    </form>
    <!-- {% if messages %}
    {% for message in messages %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">
        ×
        </button>
        <strong>{{message}}</strong>
      </div>
   {% endfor %}
  {% endif %} -->
  </div>
  </div>

  <script>
    $(".chosen-select").chosen({width: "80%"});
  </script>
  {% endblock %}