<!-- registration/login.html -->
{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block body %}
<div>
<h2>Login</h2>

<form method="post">
  {% csrf_token %}
  <table>
    <label for="username"><b>Username </b></label>
      <input type="text" placeholder="Enter Username" name="username" >
      <br>
      <label for="psw"><b> Password </b></label>
      <input type="password" placeholder="Enter Password" name="password" >
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Submit"></td>
      
    </tr>
  </table>
</form>
</div>
{% endblock %}