<!--/templates/register.html-->
{% extends "layout.html" %}
{% load static %}

{% block body %}

<head><link href="{% static 'signup.css' %}" rel="stylesheet"></head>

<div>

  {% if messages %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}


  <div class="container">
    <h1 class="text-center">Register</h1>
    <form class="registration-form" action="create_account" method="post">
      {% csrf_token %}
      <label class="col-one-half">
        <span class="label-text" for="first_name">First Name</span>
        <input type="text" name="first_name">
      </label>

      <label class="col-one-half">
        <span class="label-text" for="last_name">Last Name</span>
        <input type="text" name="last_name">
      </label>

      <label>
        <span class="label-text" for="username">Username</span>
        <input type="text" name="username">
      </label>

      <label>
        <span class="label-text" for="email">Email</span>
        <input type="text" name="email">
      </label>

      <label class="col-one-half">
        <span class="label-text" for="psw">Password</span>
        <span class="glyphicon glyphicon-eye-close"></span>
        <input type="password" name="password">
      </label>


      <label class="col-one-half">
        <span class="label-text" for="psw-repeat">Repeat Password</span>
        <span class="glyphicon glyphicon-eye-close"></span>
        <input type="password" name="repeat_password">
      </label>

      <label class="col-one-half">
        <span class="label-text" for="birthday">Birthday</span>
        <input type="date" id="birthday" name="birthday" required>
      </label>

      <label class="col-one-half">
        <span class="label-text" for="gender">Gender</span>
        <select name="gender" placeholder="gender" id="gender" required>
          <option value="" selected disabled hidden></option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="L">LGBTQ+</option>
        </select>
      </label>

      <div class="text-center">
        <button type="submit" name="register" class="submit">Confirm</button>
      </div>
  </div>
  </form>
</div>
</div>
{% endblock %}