<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <form action="{% url 'aboutus' %}"><button type="submit" class="leftbut" action="{% url 'aboutus' %}">About Us</button></form>

  <h2 class="center">Login Form</h2>


  <form action="{% url 'login' %}?next={{ next }}" method="post">
    {% csrf_token %}
    <div class="imgcontainer">
      <img src="/static/images/profile/default-profile.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>
    </div>
  </form>
  
  <form action="{% url 'signup' %}"><button type="submit" class="leftbut">Sign Up</button></form>
</body>

</html>