{% extends "layout.html" %}
{% block body %}



<h1>Project Detail</h1>
<p>&nbsp&nbsp&nbsp&nbsp โครงงาน Food with Buddies
  ของเราจัดทำขึ้นเพื่อสร้างเว็บไซต์สำหรับเป็นพื้นที่ให้กลุ่มคนที่ต้องการหาเพื่อนรับประทานข้าวมานัดกันรับประทานข้าว
  เนื่องจากในสังคมปัจจุบันมีกลุ่มคนรับประทานอาหารหลากหลายกลุ่ม เช่น คนรับประทานมังสวิรัติ คนชอบรับประทานอาหารญี่ปุ่น
  คนชอบรับประทานอาหารเกาหลี ต้องการหาเพื่อนรับประทานข้าวที่มีความชอบคล้ายกัน
  หรือคนที่มีเพื่อนน้อยแล้วอยากหาเพื่อนไปกินบุฟเฟต์
  ซึ่งเว็บไซต์ของเราสามารถช่วยอำนวยความสะดวกในการหาเพื่อนใหม่และพูดคุยเพื่อนัดกันรับประทานข้าวได้

  <br>&nbsp&nbsp&nbsp&nbspวิสัยทัศน์ของเว็บไซต์เราคือการทำให้การหาเพื่อนรับประทานข้าวเป็นเรื่องง่าย
  เป็นแหล่งให้คนที่มีความชอบในการกินรวมตัวกัน เป็นพื้นที่ให้พบปะเพื่อนใหม่
</p>


<p>
<h1>Group member</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Student ID</th>
  </tr>
  <tr>
    <td>ณธิพร จันทร์เพ็ชร</td>
    <td>6410615030</td>
  </tr>
  <tr>
    <td>ศุภกฤต นิธิเกตุกุล</td>
    <td>6410615139</td>
  </tr>
  <tr>
    <td>สุภาพันธ์ หง่อสกุล</td>
    <td>6410615147</td>
  </tr>
  <tr>
    <td>ธรรมศาสตร์ ทองแกมแก้ว</td>
    <td>6410685033</td>
  </tr>
  <tr>
    <td>ธนภัทร สาระธรรม</td>
    <td>6410685140</td>
  </tr>
</table>
</p>
<p>
<h1>ไฟล์ข้อเสนอ</h1>
<a href="https://drive.google.com/file/d/1Q9Eb7b_si3CtC4aZLCEljqszU2cKpJUF/view?usp=sharing" target="_blank"><i
    class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a>
</p>
<p>
<h1>Links</h1>
<li><a href="https://www.pivotaltracker.com/n/projects/2606747">Tracker link</a></li>
<li><a href="https://github.com/FinalProject331/CN331-FinalProject">GitHub repo link</a></li>
<li>Video link</li>
</p>
</body>

{% endblock %}