{% extends "layout.html" %}
{% block body %}
<style>
    body {
        text-align: center;
    }

    .box {
        width: 60%;
        height: 200px;
    }

</style>
<h1>Help</h1>
{% csrf_token %}
<form action="/help_send/" method="post">
    
    <div class="form__field">
        <label for="formInput#text">Report Form</label>
        <input class="input input--text" id="formInput#text" type="text" name="help_send"
            placeholder="Type you report hear..." />
    </div>
    <input type="submit" value="send report" />
</form>

{% endblock %}