{% extends "layout.html" %}
{% block body %}
<style>
    body {
        text-align: center;
    }

    .box {
        width: 60%;
        height: 200px;
    }

    textarea {
        border-radius: 4px;
        padding: 15px;
    }
    
</style>
<h1>Help</h1>
<div>
    <form action="help_send" method = "get" id="help">
        <textarea name="help_send" style="width:60%;height:200px;" placeholder="Report your problem here..."></textarea><br>
        
        <input type="submit" value="Send">
    </form>

</div>


{% endblock %}