<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    body {
        margin-top: 30px;
        margin-left: 40px;
    }

</style>

<body>
    {% if user.is_authenticated %}
    <div class="w3-bar w3-light-grey">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
        <a href="{% url 'aboutus' %}" class="w3-bar-item w3-button">Chats</a>
        <a href="{% url 'aboutus' %}" class="w3-bar-item w3-button">About Us</a>
        <a href="{% url 'aboutus' %}" class="w3-bar-item w3-button">Help</a>
        

    </div>


    {% else %}
    <div class="w3-bar w3-light-grey">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
        <form action="{% url 'login' %}"><button type="submit" class="w3-bar-item w3-button">Login page</button></form>
        <a href="{% url 'aboutus' %}" class="w3-bar-item w3-button">About Us</a>

    </div>
    {% endif %}
    
    {% block body %}
    {% endblock %}
</body>

</html>