{% extends "layout.html" %}
{% load static %}
{% block body %}

<head>
  <link href="{% static 'myshop.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <script>
    var x = document.getElementById("demo");

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
    }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div>
    <br>
    {% if user == shop.staff %}
    <h1 style="text-align:center">My Shop</h1>
    {% endif %}
  
    {% if messages %}
    <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    {% endif %}
    <br>
    <div class="container">
      <br>
      <img src="{{ shop.shopimg.url }}" alt="shopimg" width="200px">
      <h1> {{ shop.name }}</h1>
      <p class="title">bio: {{ shop.detail }}</p>

      <div id="map" style="width:300px; height: 300px;">
    
        <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
      </div>
    
      <script>
        const key = '7fp1Wm4VWG2FYaeZticr';
        let text = "{{ shop.location }}";
        const myArray = text.split(",");
        let lat = myArray[0];
        let lon = myArray[1];

        // const x = $('#shop.location[0]')
        // const y = $('#shop.location[1]')
        // const map = L.map('map').setView([13.75864, 100.4908], 50); //starting position
        const map = L.map('map').setView([lat, lon],20); //starting position
        L.tileLayer(`https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=${key}`,{ //style URL
          tileSize: 512,
          zoomOffset: -1,
          minZoom: 1,
          
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
          maxZoom: 18
        }).addTo(map);
      </script>
      <div style="margin: 24px 0;">
      </div>
      {% if user == shop.staff %}
      <a class="sbutton" href="{% url 'modifyshop' %}">Modify Shop</a>
    
      {% elif not user.is_staff %}
        <a href="{% url 'shopcheckview' shop.name %}"><i class="far fa-comments"
            style='font-size:40px'></i></a><br>
        {% endif %}
      <br>
    </div><br>
      {% if user.is_superuser %}
      {% for chat in chats %}
      <a href="{% url 'join_chat' chat.name %}" class="button">
        <p>Username: {{ chat.customer }}</p>
      </a>
      {% endfor %}
      {% endif %}
  </div>
</body>
{% endblock %}