{% extends "layout.html" %}
{% load static %}
{% block body %}

<head>
  <script src="https://kit.fontawesome.com/3f85e29ea8.js" crossorigin="anonymous"></script>
  <link href="{% static 'shoplist.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

</head>
<div>
  <div id="cover">
    <form method="GET" action="{% url 'search_shop' %}">
      <div class="tb">
        <div class="td">
          <input type="text" name="search_shop" id="search-box" placeholder="Search..." /></div>
        <div class="td">
          <button type="submit" id="btn-search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <br>

  {% if messages %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>
  {% endif %}

{% for shop in shops %}
<a href="{% url 'viewshop' shop.id %}" class="button">
  <p>{{ shop.name }}</p>
<p style="color: gray;">{{ shop.detail }}</p>
</a>

{% endfor %}
{% if not user.is_superuser %}
<a href="{% url 'add_shop' %}" class="button">
<p><i class="fa-solid fa-plus" style="font-size: 17px"></i> Add Restaurant</p>
</a>
{% endif %}

{% endblock body %}