.container {
    text-align: center;
}

input[type=text],
input[type=number],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.link {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    text-decoration: none;
}

.link:hover {
    background-color: #45a049;
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

p {
    margin: 10px 10px;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 1px;
}

.tag-container {
    display: flex;
    flex-flow: row wrap;
}

.tag {
    pointer-events: none;
    color: white;
    background-color: #4CAF50;
    padding: 6px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #4CAF49;
}

.tag::before {
    pointer-events: all;
    display: inline-block;
    content: 'x';
    height: 20px;
    width: 20px;
    margin-right: 6px;
    text-align: center;
    background-color: white;
    color: #4CAF49;
    cursor: pointer;
    border-radius: 4px;
}

.tag:hover {
    background-color: #45a049;
}